.breadcrumbs__list {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: px;
}

.breadcrumbs__link a {
    color: #fff;
    opacity: 1;
    text-decoration: none;
}

.breadcrumbs__link a:hover,
.breadcrumbs__link a:focus {
    color: fff;
    opacity: 1;
    text-decoration: none;
}

.breadcrumbs__link a:active {
    color: #fff;
    opacity: 1;
    text-decoration: none;
}