.catalog {
    width: 700px;

    &__list {
        display: flex;
        flex-flow: wrap;
        list-style: none;
        margin: 0;
        padding: 0;
        margin-bottom: 25px;
      }
      
  }
  
  .catalog-item {
    width: 220px;
    margin-bottom: 20px;
    margin-right: 20px;
    background-color: #f8f8f8;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  .catalog-item:nth-child(3n) {
    margin-right: 0;
  }
  
  .catalog-item:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
  }
  
  .catalog-item a {
    color: #000000;
  }
  .catalog-item h3 {
    font-size: 14px;
    line-height: 18px;
  }
  
  .catalog-category {
    text-transform: none;
  }
  
  .catalog-item-price b {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    background-color: #e5e5e5;
  }
  
  .catalog-item-price .button {
    line-height: 20px;
    color: #ffffff;
  }