.gallery {
    width: 300px;
}

.gallery__container {
    position: relative;
    height: 260px;
}

.gallery__content {
    height: 164px;
    margin: 0;
    background-color: #cccccc;
    border: 7px solid #ffffff;
}

.gallery__content img {
    width: 286px;
    height: 164px;
}

.button .gallery__button {
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    width: 140px;
    margin: 0;
}

.gallery__button--back {
    left: 0;
}

.gallery__button--next {
    right: 0;
}