.main-nav {
    width: 700px;
    margin: 0px auto;
    border: 1px solid blue;
    background: #2696E8;

    .main-nav__list {
        display: flex;
        padding: 0px;
        margin: 0px;
        list-style: none;
    }

    .main-nav__item {
        
    }

    a {
        display: block;
        line-height: 30px;
        padding: 0 10px;
        color: white;
        text-decoration: none;
    }

    a:hover {
        color: blue;
        background-color: white;
    }
}

