.user-navigation {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    max-width: 140px;
  }
  
  .user-navigation a {
    display: block;
    padding: 0 20px;
    line-height: 70px;
    color: #ffffff;
  }
  
  .user-navigation a:hover,
  .user-navigation a:focus {
    background-color: #242424;
  }
  
  .login-link {
    padding-left: 50px;
    position: relative;
  
    &::before {
      content: "";
    
      width: 16px;
      height: 18px;
    
      position: absolute;
      top: 27px;
      left: 24px;
    
      background: url('../img/login.svg') no-repeat 0 0;
    
      opacity: 0.3;
    }
    
    &:hover::before,
    &:focus::before,
    &:active::before {
      opacity: 1;
    }
  }